* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font-family: 'Raleway';
    font-size: 14px;
    letter-spacing: 2px;
}

.navegacion {
    width: 100%;
}

.navegacion nav {
    width: 100%;
    background: #E86611;
    margin: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0px;
}

.navegacion nav ul {
    list-style: none;
    position: relative;
}

.navegacion nav ul li .submenu .submenu-items a:hover {
    background: #E86611;
    color: #fff;
}

.navegacion nav>ul>li {
    display: inline-block;
}

.navegacion nav>ul>li>a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 20px;
}

.navegacion nav>ul>li>a span {
    font-size: 20px;
    position: absolute;
    bottom: -8px;
    display: none;
}

.navegacion nav>ul>li:hover span {
    display: block;
}

.navegacion nav ul li .submenu {
    background: #fff;
    padding: 20px;
    position: absolute;
    display: none;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.24);
}

.navegacion nav ul li:hover .submenu {
    display: flex;
}

.navegacion nav ul li .submenu .submenu-items {
    margin: 0 20px;
}

.navegacion nav ul li .submenu .submenu-items p {
    font-weight: 600;
    width: 110px;
    display: block;
    padding-bottom: 5px;
    border-bottom: 1px solid #565656;
    margin-bottom: 10px;
}

.navegacion nav ul li .submenu .submenu-items a {
    color: #474747;
    text-decoration: none;
    margin: 6px 0;
    display: block;
}

.navegacion nav ul li:hover {
    background: #85817E;
}

* {
    box-sizing: border-box;
}

.imagen {
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    margin-bottom: 10px;
}

footer {
    font-family: 'Jomolhari', serif;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #333231;
    background: #E86611;
}

footer span {
    font-size: large;
}

#ss {
    margin-top: 15px;
    margin-bottom: 8px;
}

#ft {
    margin-top: 10px;
    color: #fff;
    margin-bottom: 15px;
}

.contenedor-form {
    background: rgba(0, 0, 0, .7);
    max-width: 500px;
    width: 100%;
    margin: 48px auto;
    border-radius: 5px;
    color: #fff;
    position: relative;
    /*padding: 40px;*/
}

.contenedor-form .toggle {
    position: absolute;
    top: 7px;
    right: 7px;
    width: 100px;
    height: 30px;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    border-top: 2px solid #E86611;
    border-bottom: 2px solid #E86611;
    cursor: pointer;
    transition: all .5s ease;
}

.contenedor-form .toggle:hover {
    border-top: 2px solid #333231;
    border-bottom: 2px solid #333231;
}

.contenedor-form .toggle span {
    letter-spacing: 1px;
}

.contenedor-form h2 {
    margin: 0 0 28px 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
}

.contenedor-form input[type="text"],
.contenedor-form input[type="password"],
.contenedor-form input[type="email"] {
    outline: none;
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin: 0 0 20px 0;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    border: none;
    border-radius: 2px;
    border-bottom: 4px solid #ff851b;
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    transition: all .5s ease;
}

.contenedor-form input[type="text"]:focus,
.contenedor-form input[type="password"]:focus,
.contenedor-form input[type="email"]:focus {
    border-bottom: 4px solid #333231;
}

.contenedor-form input[type="submit"] {
    background: #E86611;
    color: #FFF;
    width: 100%;
    border: none;
    padding: 10px 0;
    font-size: 16px;
    font-weight: normal;
    font-family: Roboto;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .5s ease;
}

.contenedor-form input[type="submit"]:hover {
    background: #E86611;
}

.contenedor-form .reset-password {
    background: #E86611;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.contenedor-form .reset-password a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.contenedor-form .formulario {
    display: none;
    padding: 40px;
}

.contenedor-form .formulario:nth-child(2) {
    display: block;
}

.social-bar {
    position: fixed;
    right: 0;
    top: 35%;
    font-size: 5rem;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;
    width: 50%;
    height: 50%;
    line-height: 40px;
}

.icon {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: .7rem;
    transition: all .5s;
}

.icon-facebook {
    background: #133579;
    border-radius: 50%;
}

.icon-instagram {
    background: #d30909;
}

.icon :first-child {
    border-radius: 50%;
}

.icon:last-child {
    border-radius: 50%;
}

.icon :hover {
    padding: 3rem;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0 0 .5rem rgba(12, 12, 12, 0.466);
}